.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
}
.container .highPartOne{
    display: flex;
    align-items: center;
    margin: 6em;
}
.container .highPartOne span{
    font-size: 3em;
    font-weight: bold;
}

.container .highPartTwo{
    display: flex;
    align-items: center;
    width: 40em;
    height: 30em;
}

.container .highPartTwo img{
    width: 100%;
    height: 30em;
}


.container .carousel{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}
.container .carousel .profile{
    width: fit-content;
    transition: transform 0.3s ease;
    transform: scale(1);
}
.container .carousel .profile:hover{
    transform: scale(1.1);
}
.container .carousel .profile:hover .socialMedia{
    visibility: visible;
    transform: translateX(0);
}
.container .carousel .profile .profilePic {
    margin-bottom: -0.4em;
}
.container .carousel .profile .profilePic img{
    margin: 0;
    width: 14em;
    height: 14em;
}
.carousel .profile .header{
    background: #282C34;
    width: 100%;
    height: 2em;
    border-radius: 1em 1em 0 0;
    display: flex;
    align-items: center;
}
.carousel .profile .header .dot{
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5em;
}
.carousel .profile .header .dot #redDot{
    margin-left: 0.4em;
    background-color: #FF5F56;
    width: 0.6em;
    height: 0.6em;
    border-radius:50%;
}
.carousel .profile .header .dot #yellowDot{
    background-color: #FFBD2E;
    width: 0.6em;
    height: 0.6em;
    border-radius:50%;
}
.carousel .profile .header .dot #greenDot{
    background-color: #27C93F;
    width: 0.6em;
    height: 0.6em;
    border-radius:50%;
}
.container .carousel .profile .socialMedia{
    background-color: rgba(192, 192, 192, 0.42);
    width: 3em;
    height: 9em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    position:absolute;
    top:25%;
    right: 0%;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    
}
.container .carousel .profile .socialMedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1em;
    margin: 0.4em;
    width: 1.5em;
    height: 1.5em;
    background-color: #838285;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    cursor: pointer;
}
.container .carousel .profile .socialMedia #github{
    background-color: #2C2A4A;
}
.container .carousel .profile .socialMedia #instagram{
    filter: invert(100%);
}
.container .carousel .profile .socialMedia #linkedin{
    filter: invert(100%);
}

.container .carousel .profile .info{
    background: #282C34;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}
.carousel .profile .info span{
    color: white;
}
.carousel .profile .info .name{
    font-size: 0.87em;
    font-weight: var(--font-weight-semibold)
}
.carousel .profile .info .function{
    font-size: 0.77em;
    font-weight: light;
}
