* { margin: 0; padding: 0; }

:root{
    --background-tela: #2C2A4A;
    --background-banner: #121416;

    --color-font-titulo: #FFF;
}

.capacity-tela{
    background-color: var(--background-tela);
}

#conteudo-carrosel{
    width:100%;
    height:338px;
    border-radius: 1;
    background-color: var(--background-banner);
}

#conteudo-playlist {
    position: relative;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

#home {
    max-width: 100%;
    height: 2480px;
}

#title{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-font-titulo);
}