* { margin: 0; padding: 0; }

:root{
    --color-font-playlist: #2C2A4A;
    --color-font-info: #ffb700;

    --rating-number: #ac7000;
    --rating-star: #ffa500;
}

.playlist-tela{
    background-color: var(--background-tela);
}

#playlist {
    max-width: 100%;
}

#conteudo-playlist{
    position: relative;
    max-width: 100%;
    padding: 0px 40px 0px 40px;
}

#info-playlist{
    width: 100%;
    height: 310px;
    background: linear-gradient(180deg, #0F0F1C 0%, rgba(0, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
}

.painel-info{
    width: 388px;
    height: 195px;
    border-radius: 15px;
    background: var(--color-font-titulo);
    margin-top: 50px;
}

.title-playlist{
    color: var(--color-font-playlist);
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
}

#subtitle-playlist{
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-font-titulo);
}

.title-quantVideos, .title-duratVideos{
    width: 100px;
    height: 35px;
    color: var(--color-font-playlist);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

.quant-videos{
    display: flex;
    margin-top: 45px;
    margin-left: 15px;
}

.time-videos{
    display: flex;
    margin-top: -5px;
    margin-left: 15px;
}

.number-quantVideos, .number-duratVideos{
    width: 120px;
    height: 35px;
    color: var(--color-font-info);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    margin-left: -8px;
}


.video-list-all {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    justify-content: center;
}

.video-item {
    width: 252px;
    height: 230px;
    margin: 8px;
    display: flex;
    flex-direction:column;
    display: flex;
}

.video-image {
    width: 252px;
    height: 140px;
    position: relative;
}

.video-thumbnail {
    width: 252px;
    height: 140px;
    position: relative;
    overflow: hidden;
}


.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"%3E%3Cpath d="M8 5v14l11-7z"/%3E%3C/svg%3E');
    background-size: cover;
}


.video-title{
    padding-top: 5px;
    float: left;
    word-wrap: break-word;
    max-width: 250px;
    font-weight: 500;
    color: var(--color-font-titulo);
    font-size: 15px;
}

.video-rating {
    float: left;
    margin-top: -5px;
}

.star-rating {
    color: var(--rating-star);
    font-size: 14px;
    margin-left: 5px;
}

.rating-count{
    color: var(--rating-number);
    font-weight: bold;
}

svg {
    vertical-align: baseline;
    margin-right: 1px;
}

.content-rating{
    display: flex;
}