@import url(/src/layouts/colors.less);
@import url(/src/layouts/fonts.less);

#group-page #people .people-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    row-gap: 1rem;
    column-gap: .5rem;

    .person-item {
        display: flex;
        flex-direction: row;
        align-items: start;

        width: 95%;

        text-align: center;

        align-items: center;
        padding: 0;
        overflow: hidden;
        border: none;

        .person-image {
            @side: 8rem !important;
            width: @side;
            height: @side;
            aspect-ratio: 1;

            background-color: inherit;
            object-fit: cover;
            border-radius: 50%;
            padding: 1rem;
        }

        .info { 

            text-align: start;

            color: @font-color-v2;
            .person-name {
                color: inherit;
                text-decoration: none;
                font-weight: @font-weight-semibold;
                font-size: 1.5rem;
            }

            .person-description {
                margin-top: .75rem;
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 800px){
    #group-page #people .people-list {
        grid-template-columns: repeat(3, 1fr);
    }
}