#item-competence .education {
    width: 100%;
    height: fit-content;

    border-radius: 10px;
    background: #fff;
    overflow: hidden;

    translate: 0 0;
    border: solid 1px;
    border-color: #e2e2e2;
}

#item-competence .education .heading {
    display: flex;
    align-items: initial;
    justify-content: initial;
    margin: 20px 10px 0px 18px;
    border-radius: 20px 20px 0px 0px;

    font-size: 1.2em;
    font-weight: 600;
    padding: 2px 0px 2px 0px;
}

#item-competence .education .add-button {
    display: flex;
    position: absolute;
    align-items: center;
    right: 2rem;
    top: 0.8rem;

    color: var(--primary-color);
    font-size: 1rem;
    border: solid 2px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#item-competence .education .add-button .icon-button {
    margin-left: 5px;
    font-size: 1.2rem;
    color: var(--primary-color);
}

#item-competence .education .add-button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#item-competence .education .add-button:hover .icon-button {
    color: #fff;
}

#item-competence .education .education-list {
    padding: 1em 2em 1.5em;
}

#item-competence .education .education-list .education-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: .75em 1em;

    background: var(--font-color-v5);
    border-radius: 20px;

    gap: 2rem;

    flex-wrap: wrap;
}

#item-competence .education .education-list .education-item:not(:last-of-type) {
    margin-bottom: 0.95em;
}

#item-competence .education .education-list .education-item .add-education {
    background: none;
    border: none;
    margin-right: .25rem;
}

#item-competence .education .education-list .education-item .education-type {
    font-size: 1rem;
    margin-right: .5em;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}

.education-presentation {
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.education-item .direction-dateStart{
    position: relative;
    right: auto;
}

.education-item .direction-dateEnd{
    position: relative;
    right: auto;
}

.title-date {
    font-size: 0.9rem;
    font-weight: 600;
}

.config-button {
    position: relative;
}

.config-button-icon {
    background: none;
    border: none;
    cursor: pointer;
}


.config-menu {
    position: absolute;
    top: -100%;
    right: 0;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}
  
.config-button:hover .config-menu {
    display: block;
}

.config-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

#item-competence .education .education-list .education-item .icon {
    margin-right: 1.75em;

    width: 1.875em;
    aspect-ratio: 1;
}

#item-competence .education .education-list .education-item .learning {
    color: #000;
    font-size: 0.875em;
    font-weight: var(--font-weight-default);
}

#item-competence .education .education-list .education-item .level-container {
    margin-left: auto;
    margin-right: 2.5em;
}

#item-competence .education .education-list .education-item .level-container .level-label {
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

#item-competence .education .education-list .education-item .education-level-list {
    display: flex;
    flex-direction: row;
}

#item-competence .education .education-list .education-item .education-level-list .education-level {
    width: 3.5em;
    height: 0.5em;
    border-radius: 10px;
    background: #C1C1C1;
}

#item-competence .education .education-list .education-item .education-level-list .education-level.learned {
    background: var(--skills-1-color);
    
}

#item-competence .education .education-list .education-item .education-level-list .education-level:not(:last-of-type) {
    margin-right: .5em;
}

#item-competence .education .education-list .empty-education {
    font-style: italic;
    width: 100%;
    text-align: center;
}

.empty-educations {
    text-align: center;
}

.config-button-education {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
}

.config-button-icon {
    border: none;
    cursor: pointer;
}

.education-item .config-button-icon + .config-button-icon {
    margin-top: 15px;
    margin-left: 0px;
}

#item-competence .education .edit-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: -5px;

    background-color: transparent;
    border: solid 2px;
    border-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}


#item-competence .education .edit-button .icon-edit  {
    color:  var(--primary-color);
}

#item-competence .education .edit-button.active {
    background-color: var(--primary-color);
}

#item-competence .education .edit-button .icon-edit.active  {
    color: #fff;
}
