#left-side .bio .edit-button {
    /* right: .75em; */
    top: .5em;
    left: 90%;
    position: relative;
}

.bio{
    background-color: transparent !important;
    border: solid #0091b8 1px !important;
    border-radius: 10px !important;
}

#left-side .bio .image {
    width: 9.5em;
    border: 2px solid #FFF;
    background-color: #B2B2B2;
}

#left-side .bio .name {
    margin-top: .25em;
    text-align: center;
}

#left-side .bio .function-pronoun {
    color: var(--font-color-v2);
    font-size: 1.125em;
    font-weight: var(--font-weight-light);
}

#left-side .bio .intro {
    align-items: center;
}

#left-side .bio .about-me {
    margin-top: 2em;
}

#left-side .bio .about-me p {
    font-size: .8em;
}

#left-side .bio .links .link-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#left-side .bio .links .link {
    border-radius: 4px;
    background-color: #B2B2B2;
    width: 100%;
    padding: .125em .5em;
    text-align: left;
    text-decoration: none;
    color: var(--font-color-v2);
    line-height: 2rem;
    display: flex;
    align-items: center;
}

#left-side .bio .links .link .icon {
    margin-right: .5rem;
}

#left-side .bio .links .link:not(:last-of-type) {
    margin-bottom: 1em;
}

#left-side .bio .member-since {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;

    font-size: 0.875em;
    color: var(--font-color-v3);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;

    border-top: solid #B2B2B2 2px;
}

.intro-section {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0  !important;
    margin-top: -70px;
}

.profile-header{
    width: 100%;
    height: 100px;
    background-color: #0091b8;
    border-radius: 10px 10px 0px 0px;
}

.content-count{

    border-top: solid 1px #0091b8;
    padding: 20px 30px;
    margin-top: 40px;

}

.bio.card{
    margin-bottom: 30px !important;
}