  .cropper-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
   
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .cropper-container {
    width: 100%;
    height: 85%;
    padding: 20px;
    margin: auto;
    border-radius: var(--border-radius);
  }

  .header-radius {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 600;
  }


  .btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin: 4px 6px;

    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
    color: var(--font-color-v1);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.625rem;
    border: none;
    background-color: var(--primary-color);
    will-change: background-color, color;
    transition-duration: 100ms;
    padding: 1rem 1rem;

    font-size: 13px;
}

.cancel {
    background-color: var(--font-disabled-color);

}

/* Hover effect */
.btn:hover {
    background-color: var(--secondary-color); /* Dark green */
}