#profile-page #discard-changes {
    border-radius: 1.125rem;
    background-color: var(--card-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 3.75rem;
    padding-left: 5rem;
    padding-right: 5rem;

    max-width: 25vw;
}

#profile-page #discard-changes h2 {
    text-align: center;
    color: #000;
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
}

#profile-page #discard-changes p {
    font-size: 0.875rem;
    font-weight: var(--font-weight-default);
    text-align: center;

    margin-top: .75rem;
    margin-bottom: 1.75rem;
}

#profile-page #discard-changes .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#profile-page #discard-changes .buttons button {
    width: 100%;
    height: 2.5em;

    font-size: 0.875em;
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;

    border-radius: 0.625rem;
    border: 2px solid var(--primary-color);

    cursor: pointer;
    transition: var(--hover-transition-duration) background-color, border-color, color;
}

#profile-page #discard-changes .buttons button:not(:last-of-type) {
    margin-bottom: .75rem;
}

#profile-page #discard-changes .buttons .discard-button {
    color: var(--font-color-v1);
    background-color: var(--primary-color);
}

#profile-page #discard-changes .buttons .discard-button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

#profile-page #discard-changes .buttons .cancel-button {
    background-color: transparent;
    color: var(--primary-color);
}

#profile-page #discard-changes .buttons .cancel-button:hover {
    background-color: var(--primary-color);
    color: var(--font-color-v1);
}
