.center-container{

    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -70%);
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}
.center-text{
    text-align: center;
    position: initial;
}

.center-container .password-validation-box .success-validation {
    color: var(--success-color);
    font-weight: var(--font-weight-semibold);
}

.center-container .password-validation-box .failed-validation {
    color: var(--wrong-invalid-color);
    font-weight: var(--font-weight-semibold);
}
