#profile-page #right-side .recommend-settings-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    height: var(--height);
    /* translate: 0 calc(var(--height) / -2); */

    background: var(--font-color-v1);
    box-shadow: 0 4px 40px 10px rgba(0, 0, 0, 0.15);
    border: none;

    cursor: pointer;
}

#profile-page #right-side .recommend-settings-button.recommend {
    padding: 0 6.5em;

    margin-right: .3em;

    border-radius: 10px;

    color: var(--secondary-color);
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

#profile-page #right-side .recommend-settings-button.settings {
    width: var(--height);

    aspect-ratio: 1;
    padding: 1em;
    border-radius: 50%;
}
