#conteudo-destaque {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.content-top {
    display: flex;
    overflow-x: auto;
    padding: 1vw;
}

.content-top::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin-bottom: 10px;
}

.content-top::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 4px;
    
}

.content-top::-webkit-scrollbar-button {
    display: none;
}

.content-rating{
    display: flex;
}