#profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    --user-header-bar-height: 12rem;
}

#profile-page #user-header-bar {
    width: 100%;
    height: var(--user-header-bar-height);
    translate: 0 0;
}

#profile-page .content {
    padding: 0 var(--left-page-padding);
    margin-top: var(--top-page-margin);

    display: grid;
    grid-template-columns: 15rem auto;
}

#profile-page #left-side {
    --section-separator: 1.5em;
}

#profile-page #right-side {
    width: 95%;
    margin-left: auto;
}
