#profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    --user-header-bar-height: 12rem;
}

#profile-page #user-header-bar {
    width: 100%;
    height: var(--user-header-bar-height);
    translate: 0 0;
}

#profile-page .content {
    margin: 0 2.5em;

    display: grid;
    grid-template-columns: 20% auto;
}

#profile-page #left-side {
    --section-separator: 1.5em;
    translate: 0 calc(var(--user-header-bar-height) / -2);
}

#profile-page #right-side {
    width: 95%;
    margin-left: auto;
}

#profile-page .edit-button {
    position: absolute;
    width: min-content;
    height: min-content;

    border: none;
    background: none;

    cursor: pointer;
}

#profile-page #user-header-bar .edit-button {
    top: 1.5em;
    right: 3.2em;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5em;
    border-radius: 4px;

    /* todo: figure out why the button is bigger than the image */
    padding-bottom: calc(.5em - 6px);
}
