.container {
    width: fit-content;
    height: fit-content;
    background-color: #202024;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 3.5rem;
    padding: 3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.form-container input {

    width: 20rem;
    border-radius: 5px;
    height: 1.65rem;
    padding-left: 2rem;
    padding-right: 2rem;
    outline: none;
}

.form-container input::placeholder {
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.form-container input:focus {
    outline: auto;
    outline-style: solid;
    outline-color: var(--wave-color);
}

.label-form {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.label-form span {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.btn_form {
    color: white;
    height: 2rem;
    width: 20rem;
    background-color: var(--primary-color) !important;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    border-style: none;
}

.btn_form:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn_form:hover {
    cursor: pointer;
}

.container-line-form {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.container-line-form a {
    color: var(--font-color-v4);
    text-decoration: underline;
    cursor: pointer;
}

.line-form {
    width: 100%;
    background-color: white;
    height: 1px;
}

.btn_form_dcx {
    margin-top: 10px;
    height: 60px;
    width: 400px;
    background-color: white !important;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.btn_form_dcx:hover {
    cursor: pointer;
}

.toggle span {
    font-size: 1.2rem;
    position: absolute;
    margin-left: -1.6rem;
    line-height: 1.8rem;
    color: var(--primary-color);
}