.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.logo {
    width: 15em;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 2px;
    gap: 2px;

    margin-right: 3rem;
}

.logo img {
    width: 80%;
}

.logo h1 {
    font-size: inherit;
    font-weight: 600;
    text-align: 10px;
    color: var(--font-color-v2);

    margin-top: 1em;
}

footer {
    width: 100vw;
}

.waves svg {
    position: absolute;
    fill: var(--primary-color);
    bottom: 0px;
    z-index: -1;
}

@media screen and (max-width: 1187px) {
    .waves svg {
        position: relative;
        margin-bottom: -10px;
    }
}