@import url(/src/layouts/fonts.less);
@import url(/src/layouts/colors.less);
@import url(../styles.module.less);

.legend {
    display: flex;
    align-items: end;

    .char_counter {
        font-size: .75em;
        margin-left: auto;

        &.full_char_counter {
            color: @font-color-alert;
            font-weight: @font-weight-semibold;
        }
    }
}

.input {
    width: 100%;

    #UniversiForm.rounded_corners();
    #UniversiForm.input_padding();
    #UniversiForm.focus_outline();

    &.invalid {
        #UniversiForm.invalid_input_outline();
    }

    &.valid {
        #UniversiForm.valid_input_outline();
    }

    &.long_text {
        resize: none;
    }
}
