@import url(/src/layouts/colors.less);
@import url(/src/layouts/fonts.less);

.filter-component {
    border-radius: .5rem;
    border: 2px solid @primary-color;
    outline: 0px solid @primary-color;
    background-color: @card-item-color;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25em;

    color: @primary-color;
    width: 16.5rem;

    .filter-icon {
        margin-left: .15em;
        margin-right: .5em;
    }

    .filter-input {
        border: none;
        background-color: transparent;
        outline: none;

        color: @primary-color;
        font-weight: @font-weight-default;

        width: 25em;

        &::placeholder {
            color: inherit;
            opacity: 50%;
        }
    }
}