.profile-content{
    border-radius: 15px;
    overflow: hidden;
    width: 320px;
    height: 280px;
    background-color: var(--secondary-color);
    text-decoration: none;
}

.profile-content-thumbnail{
    width: 320px;
    height: 210px;
    display: block;
    object-fit: fill;
}

.profile-content-title{
    color: white;
    text-align: center;
    padding: 20px 0px;
}
