.profile-content{
    border-radius: 15px;
    overflow: hidden;
    max-width: 320px;
    max-height: 240px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    background-color: #914786;

}

.profile-content-thumbnail{
    display: block;
}

.profile-content-title{
    color: white;
    text-align: center;
    padding: 10px 0px;
}
