#group-page #group-intro {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#group-page #group-intro #banner-wrapper {
    height: 20rem;
    width: 100%;
}

#group-page #group-intro #organization-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 1rem 1rem 0 0;
}

#group-page #group-intro #banner-wrapper #group-name {
    width: fit-content;
    height: 0;

    margin-left: auto;
    margin-right: 1rem;
    translate: 0 -2.5em;

    color: var(--font-color-v1);
    font-size: 1.5rem;
    font-weight: var(--font-weight-default);
}
