.container-modal-popup {
    width: 265px;
    height: 56px;
    padding: 10px;
    background-color: #CC615B;
    border-radius: 2px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    line-height: 5px;
    animation: slide 1s ease-in;
    margin-top: -67px;
    right: 30px;
}

.alert {
    color: white;
}

.warn {
    font-weight: 600;
}

.text-warn {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.close {
    color: white;
    font-weight: 600;
    position: absolute;
    font-size: 14px;
    top:10px;
    right: 5px;
    z-index: 1;
   
}