#group-page {
    width: 90%;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    column-gap: 2%;

    //Atençã: ao testar as duas possibilidades tire os comentarios do #intro-tabs-wrapper

    //opção 1: maior espaçamento na direita
    // padding: 0 5rem;

    //opção 2: mesmo espaçamento, centralizado
    padding: 0 0 0 5%;

    margin-top: 4rem;
}

#intro-tabs-wrapper{
    //opção 1: maior espaçamento na direita
    // width: 75%;
    
    //opção 2: mesmo espaçamento, centralizado
    width: 100%;
}
