#group-page .content {
    --group-image-height: 12.5rem;
    translate: 0 calc(var(--group-image-height) / -2);
    width: 100%;
}

#group-page .content .group-infos {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 3.5rem;
    margin-top: 2rem;
}

#group-page .content .group-infos .left-side {
    width: 22.5%;
}
