#group-page {
    width: 100%;

    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 2%;

    padding: 0 var(--left-page-padding);

    margin-top: var(--top-page-margin);

    max-width: 1920px;
}

.group-page-container{

    display: flex;
    flex-direction: column;
    align-items: center;

}



#intro-tabs-wrapper{
    width: 100%;
}
