#group-page .content {
    --group-image-height: 12.5rem;
    width: 100%;
}

#group-page .content .group-infos {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 3.5rem;
    margin-top: 2rem;
}

#group-page .content .group-infos .left-side {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#group-page .content .group-infos .left-side .join-button {
    width: 70%;
    height: 3.85em;
    margin-top: 1rem;
    margin-bottom: 1.8rem;

    background-color: var(--primary-color);
    border: none;
    border-radius: 0.7em;

    color: var(--font-color-v1);
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;

    cursor: pointer;
    transition: var(--hover-transition-duration) background-color;
}

#group-page .content .group-infos .left-side .join-button:hover {
    background-color: var(--button-hover-color);
}

#group-page .content .group-infos .right-side {
    margin-left: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
