#group-page {
    width: 100%;

    display: grid;
    grid-template-columns: 15rem auto;
    column-gap: 2rem;

    //Atençã: ao testar as duas possibilidades tire os comentarios do #intro-tabs-wrapper

    //opção 1: maior espaçamento na direita
    // padding: 0 5rem;

    //opção 2: mesmo espaçamento, centralizado
    padding: 0 15rem;;

    margin-top: 4rem;
}

#intro-tabs-wrapper{
    //opção 1: maior espaçamento na direita
    // width: 75%;
    
    //opção 2: mesmo espaçamento, centralizado
    width: 100%;
}
