#competence-tab{    

    display: flex;
    align-items: center;
    flex-direction: column;

    .competence-container{

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .labels{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    }

    .competence{
        display: grid;
        width: 100%;
        align-items: center;
        background-color: var(--card-background-color);
        padding: 0.5rem;
        border-radius: 0.5rem;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);

        .amount-people{
        }

    }

    .competence-level-container{
        display: flex;
        flex-direction: row;
        padding: 0.25rem;
        gap: 2rem;
        .competence-level{

            min-width:6rem;
            max-width: 6rem;
        
            .level-label{
                font-size: small;
                text-align: center;
            }

            .bar-container{
                background-color: var(--font-color-v3);
                width: 100%;
                border-radius: 1rem;
                height: 0.5rem;
                .bar{
                    background-color: var(--primary-color);
                    height: 0.5rem;
                    border-radius: 1rem;
                }
            }
            .bar-label{
                display: flex;
                justify-content: center;
                width: 100%;
            }

        }
    }
}