.popup-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.583);
    left: 0%;
    top: 0%;
}

.iframe-container{
    position: absolute;
    width: 60%;
    background-color: var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    border-radius: 10px;
    padding: 20px;
}

.close{
    position: relative;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--background-color);
    text-align: end;
    margin-bottom: 1rem;
}

.mini-player{
    position: fixed;
    left: 3.5rem;
    top: 70%;
    width: 20rem;
    border-radius: 10px;
    border: solid 1px var(--primary-color);
}

.mini-iframe{
    height: auto;
    width: 20rem;
    /* aspect-ratio: 16 / 12; */
    /* padding: 15px; */
    background-color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
    border-radius: 10px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    .close{
        position: static;
        text-align: end;
        left: 0%;

        background-color: var(--primary-color);
        font-size: 2rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        color: white;
        overflow: hidden;
        margin: 0px;
    }

    @media screen and (max-height: 800px) {
        .close{
            font-size: 1rem;
            padding-top: 0rem;
        } 
    }

    .popup-container{
        height: auto;
        width: auto;
    }
}

iframe{
    border-radius: 10px;
}