.group-config {

  .modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 14px 10px;
  }
  
  .close {
    color: #252525;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .tab {
    overflow: hidden;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 10px;
    width: 100%;
    
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;

    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--primary-color);
    border-bottom: none;

    background-color: #fefefe;
    color: var(--primary-color);
  }

  .tab button + button {
    margin-left: 1px;
  }
  

  
  .tab button.active {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);

    background-color: var(--primary-color);
    color: white;
  }
  
  .tab-content {
    display: block;
  }
}