:root {
    --Background-cirular-button: #2C2A4A;
    --Background-Line: #fff;
    --Background-Scroll-button: #2C2A4A;

    --Color-border-button: var(--primary-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}
  
.line {
    width: 400px;
    height: 5px;
    background-color: #fff;
}
  
.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
  
.circular-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Background-cirular-button);
    border: 2px solid var(--Color-border-button);
    cursor: pointer;
}
  
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Background-Scroll-button);
    border: 2px solid var(--Color-border-button);
    cursor: pointer;
}

.copyright{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 30px;
}