.playlist-bar {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    padding: 10px 0;
    position: relative;
}

@media (max-width: 1600px) {
    .playlist-bar {
      overflow-x: auto;
    }
}

.playlist-bar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f3ebd9;
}

.playlist-bar::-webkit-scrollbar-thumb {
    background-color: var(--card-background-color);
    border-radius: 4px;
}
  
.playlist-bar::-webkit-scrollbar-track {
    background-color: #2C2A4A;
}
  
.playlist-bar::-webkit-scrollbar-button {
    display: none;
}
  
.playlist-container {
    display: flex;
    transition: transform 0.3s ease;
}
  
.playlist-card {
    width: 250px;
    height: 258px;
    border-radius: 10px;
    margin-right: 18px;
    background-color: #fff;
    box-shadow: 0 2px 4px #0000001a;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.playlist-card:hover {
    color: #5c5fa5;
    box-shadow: 0 4px 8px #00000033;
}
  
.playlist-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.playlist-title {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    white-space:normal;

}

.playlist-bar ::-webkit-scrollbar{
    display: none;
}

.content-rating{
    display: flex;
}