#universi-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: .5em .75em;

    background-color: #9E9E9E;
    font-size: 1.25em;
}

#universi-header nav {
    font-weight: var(--font-weight-bold);
    margin-left: 2em;
}

#universi-header nav a {
    text-decoration: none;
    color: var(--font-color-v1);
    transition: var(--hover-transition-duration) color;
}

#universi-header nav a:not(:last-of-type) {
    margin-right: 2em;
}

#universi-header nav a:hover {
    color: var(--secondary-color);
}

#universi-header #universi-header-first-half {
    width: 50%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#universi-header #universi-header-second-half {
    width: fit-content;
    height: 100%;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#universi-header #universi-header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#universi-header #universi-header-search #universi-header-search-bar {
    --vertical-padding: .75em;
    --border-radius: 6% 50%;

    padding: var(--vertical-padding) 0 var(--vertical-padding) 2em;
    border: none;

    border-top-left-radius:     var(--border-radius);
    border-bottom-left-radius:  var(--border-radius);

    width: 25em;
}

#universi-header #universi-header-search #universi-header-search-bar:focus {
    outline: var(--primary-color) solid 1px;
}

#universi-header #universi-header-search #universi-header-search-button {
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-color);

    transform: translateX(-50%);
    aspect-ratio: 1/1;
    height: 3.5em;
    /* todo: adjust height */

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#universi-header #universi-header-search #universi-header-search-button img {
    height: 2em;
}

#universi-header #universi-header-second-half .welcome-message {
    margin-right: .75rem;
    color: var(--font-color-v1);
    font-size: 1.25rem;
    font-weight: var(--font-weight-default);
}

/* todo: Change 'color' and 'background-color' if user is logged */
.auth-button {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--font-color-v1);

    width: 5.75em;
    line-height: 2em;
    font-weight: var(--font-weight-semibold);
    text-align: center;

    text-transform: uppercase;
    text-decoration: none;
    transition: var(--hover-transition-duration) background-color;
}

.auth-button:hover {
    background-color: var(--button-hover-color);
}

.auth-button.logout {
    color: var(--primary-color);
    background: none;
}
