@import url(/src/layouts/fonts.less);
@import url(/src/layouts/colors.less);

.profile-bio-component {
    background-color: white !important;
    border: solid @primary-color 1px !important;
    border-radius: var(--border-radius) !important;
    margin-bottom: 1rem;
    width: 100%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  

    .edit-button {
        display: flex;
        flex-direction: row-reverse;

        padding-right: .5rem;
        padding-top: .5rem;
    }

    .edit-icon{
        filter: drop-shadow(0px 0px 5px #000);
    }

    .image {
        width: 7em;
        border: 3px solid #FFF;
    }

    .name {
        margin: 0.44rem 0;
        text-align: center;

        font-size: 1.25rem;
        font-weight: @font-weight-semibold;

        text-decoration: none;
        color: inherit;

        word-break: break-word;

        &[href] {
            cursor: pointer;
            will-change: text-decoration;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .intro-section {
        align-items: center;
        display: flex;
        flex-direction: column;
    
        width: 100%;
        padding: 0  !important;
        margin-top: -3.5em;
        margin-bottom: 1rem;

        font-size: 0.8rem;

        .profile-bio{
            padding: 0.25rem 0.5rem;
            word-break: break-all;
        }
    }

    .profile-header{
        width: 100%;
        height: 5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    }

    .content-count{
        border-top: solid 1px @primary-color;
        padding: 0.7rem 0.7rem;

        .links-wrapper {
            width: fit-content;
            display: flex;
            justify-content: center;
            width: 100%;

            .profile-bio-link {
                color: @font-color-v2;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                will-change: text-decoration;

                height: 1rem;

                &:hover {
                    text-decoration: underline;
                }

                &:not(:last-of-type) {
                    margin-bottom: .5em;
                }

                .link-type-icon {
                    margin-right: .5em;
                }
            }
        }
    }
}
