.info-button-container {
    position: relative;
    display: flex;
    align-items: center;
}
  
.info-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2C2A4A;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: -25px;
}
  
.info-tooltip {
    position: absolute;
    top: -20px;
    margin-left: -8px;
    left: 50%;
    padding: 6px 12px;
    background-color: #2C2A4A;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
}
  