/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Variables */
:root {
    /* Colors */
    --primary-color:      #4F518C;
    --secondary-color:    #2C2A4A;
    --forms-color:        #E0E0E0;
    --font-color-v1:      #FFFFFF;
    --font-color-v2:      #191919;
    --font-color-v3:      #8A8A8A;
    --font-color-v4:      #7D7EAE;
    --skills-1-color:     #8B8DD9;
    --wave-color:         #9294CC;
    --background-color:   #F5F4F4;
    --button-hover-color: #39375D;
    --alert-color:        #CC615B;
    --rank-color:         #6E70AF;

    /* Font weights */
    --font-weight-light:    300;
    --font-weight-default:  400;
    --font-weight-semibold: 600;
    --font-weight-bold:     700;

    /* Timing */
    --hover-transition-duration: 400ms;
}

/* Default settings */
* {
    font-family: 'Poppins', sans-serif;

    /* Remove default margin and padding from elements that have it */
    margin: 0;
    padding: 0;

    /*
     Changes default box-sizing to include border so elements don't easily
     overflow

     For exemple: by default, an element with horizontal margin and width 100%
     overflows
    */
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.App{
    position: relative;
    min-height: 100vh;
}

.App > .application-content-wrapper{
    padding-bottom: 8em;
}