@import url(/src/layouts/transitions.less);

#theme-color-settings {
    padding: 2rem;

    #theme-color-list {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 0;

        .theme-color-item {
            width: 3rem;
            height: 3rem;
            border-width: 0.35rem;
            border-radius: 50%;
            border-style: outset;
            outline-width: 2px;
            outline-style: solid;
            cursor: pointer;
            margin: 0 1rem;

            will-change: border-width, transition-timing-function, outline-width;
            transition-property: border-width, outline-width;
            transition-duration: 100ms;
            transition-timing-function: ease-out;

            &.selected {
                outline-width: 5px;
                border-width: 0.65rem;
                transition-timing-function: ease-in;
            }
        }
    }

    #section-builder-wrapper {
        overflow: hidden;

        #toggle-advanced {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border: none;
            background-color: transparent;

            width: 100%;

            font-size: 1.25rem;

            cursor: pointer;

            #toggle-icon {
                font-size: 1.5em;

                will-change: rotate;
                transition-duration: 200ms;
                transition-property: rotate;

                &.extended {
                    rotate: 180deg;
                    transition-timing-function: ease-in;
                }

                &.collapsed {
                    transition-timing-function: ease-out;
                }
            }
        }

        #theme-builder {
            &.extended {
                margin-top: 1rem;
            }

            &.collapsed {
                height: 0;
                visibility: hidden;
            }

            .color-picker {
                height: 150px;
                width: 250px;
            }
        }
    }

    #save-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;

        #spacer {
            flex-grow: 1;
        }
    }
}