.profile-groups-component {
    background-color: white;
    border: solid 1px var(--primary-color);
    border-radius: var(--border-radius);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 

    .groups-name {
        text-align: center;
        padding: 1.15rem;
        background-color: var(--primary-color);
        color: white;
        font-weight: var(--font-weight-bold);
        font-style: normal;
        margin-bottom: 20px;
        font-size: 1.25rem;
    }

    .items-wrapper {
        margin: 0 auto;
        width: 90%;

        .show-items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1em;
            row-gap: 1em;

            .group-item img {
                border-radius: 5px;
                border: solid 1px var(--primary-color);
                width: 60px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                object-fit: scale-down;
                padding: 2px;
            }
        }
    }

}
