name: Build, Test, and Push Docker Image

on:
  push:
    branches: [ "prod", "development", "main" ]

jobs:
  build-test-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: ~/.docker
        key: ${{ runner.os }}-docker-${{ github.sha }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker buildx create --use
        tag_name=$(echo "${{ github.ref }}" | sed 's/refs\/heads\///')
        [ "$tag_name" == "prod" ] && tag_name='latest'
        docker buildx build \
          --platform linux/arm64,linux/amd64 \
          --build-arg BUILD_HASH=${{ github.sha }} \
          -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name || github.event.repository.name }}:$tag_name \
          -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name || github.event.repository.name }}:${{ github.sha }} \
          --push \
          .